
          .card-display__img-background.gbi-1861612827-ix82umt11LBoMSZMQ57L1b:before,
          .card-display__img-background.gbi-1861612827-ix82umt11LBoMSZMQ57L1b:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            
            transition: opacity 0.5s ease 250ms;
            background-position: center;
background-repeat: no-repeat;
background-size: cover;

          }
          .card-display__img-background.gbi-1861612827-ix82umt11LBoMSZMQ57L1b:before {
            z-index: -100;
            background-image: url(data:image/jpeg;base64,/9j/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2P/wgARCAAPABQDASIAAhEBAxEB/8QAGAAAAgMAAAAAAAAAAAAAAAAAAAUCAwT/xAAWAQEBAQAAAAAAAAAAAAAAAAACAAH/2gAMAwEAAhADEAAAAWQu0oyKDb//xAAaEAADAQADAAAAAAAAAAAAAAAAAQIDEhMU/9oACAEBAAEFAp1hlOZPRCNuKnoVDxiX/8QAFhEBAQEAAAAAAAAAAAAAAAAAAAER/9oACAEDAQE/AbGP/8QAFhEBAQEAAAAAAAAAAAAAAAAAAAER/9oACAECAQE/AZWv/8QAGxAAAgIDAQAAAAAAAAAAAAAAAAECERIhQXH/2gAIAQEABj8C1KvTbOkXG3b6LJUUf//EABwQAAICAgMAAAAAAAAAAAAAAAABESFRcTGBkf/aAAgBAQABPyGH5GEFkpbG1FujMdUwlpOzkrh+n//aAAwDAQACAAMAAAAQKw//xAAYEQACAwAAAAAAAAAAAAAAAAAAARExUf/aAAgBAwEBPxCShPp//8QAGBEAAgMAAAAAAAAAAAAAAAAAAAERMVH/2gAIAQIBAT8Qjsa4f//EAB4QAQACAQQDAAAAAAAAAAAAAAEAESExQVFxYZGh/9oACAEBAAE/EBEC0jJ9ynum6teokHcYv2ZahCWjBjNG681TRmVA/NR//9k=);
            
            opacity: 1; 
          }
          .card-display__img-background.gbi-1861612827-ix82umt11LBoMSZMQ57L1b:after {
            z-index: -101;
            
            background-image: url(data:image/jpeg;base64,/9j/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2P/wgARCAAPABQDASIAAhEBAxEB/8QAGAAAAgMAAAAAAAAAAAAAAAAAAAUCAwT/xAAWAQEBAQAAAAAAAAAAAAAAAAACAAH/2gAMAwEAAhADEAAAAWQu0oyKDb//xAAaEAADAQADAAAAAAAAAAAAAAAAAQIDEhMU/9oACAEBAAEFAp1hlOZPRCNuKnoVDxiX/8QAFhEBAQEAAAAAAAAAAAAAAAAAAAER/9oACAEDAQE/AbGP/8QAFhEBAQEAAAAAAAAAAAAAAAAAAAER/9oACAECAQE/AZWv/8QAGxAAAgIDAQAAAAAAAAAAAAAAAAECERIhQXH/2gAIAQEABj8C1KvTbOkXG3b6LJUUf//EABwQAAICAgMAAAAAAAAAAAAAAAABESFRcTGBkf/aAAgBAQABPyGH5GEFkpbG1FujMdUwlpOzkrh+n//aAAwDAQACAAMAAAAQKw//xAAYEQACAwAAAAAAAAAAAAAAAAAAARExUf/aAAgBAwEBPxCShPp//8QAGBEAAgMAAAAAAAAAAAAAAAAAAAERMVH/2gAIAQIBAT8Qjsa4f//EAB4QAQACAQQDAAAAAAAAAAAAAAEAESExQVFxYZGh/9oACAEBAAE/EBEC0jJ9ynum6teokHcYv2ZahCWjBjNG681TRmVA/NR//9k=);
            
          }
        