
          .card-display__img-background.gbi--1279486095-tVEy64hB9PnCpU7gkEuLeH:before,
          .card-display__img-background.gbi--1279486095-tVEy64hB9PnCpU7gkEuLeH:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            
            transition: opacity 0.5s ease 250ms;
            background-position: center;
background-repeat: no-repeat;
background-size: cover;

          }
          .card-display__img-background.gbi--1279486095-tVEy64hB9PnCpU7gkEuLeH:before {
            z-index: -100;
            background-image: url(data:image/jpeg;base64,/9j/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2P/wgARCAAWABQDASIAAhEBAxEB/8QAGQABAAMBAQAAAAAAAAAAAAAAAAQFBgED/8QAFwEAAwEAAAAAAAAAAAAAAAAAAQIDAP/aAAwDAQACEAMQAAABqNHRSQbp1hm5glvUPL//xAAdEAACAQQDAAAAAAAAAAAAAAAAAhEBAwQSEzEz/9oACAEBAAEFAk9LbbqKsGNvzki9VyYP/8QAFREBAQAAAAAAAAAAAAAAAAAAESD/2gAIAQMBAT8BI//EABURAQEAAAAAAAAAAAAAAAAAABEg/9oACAECAQE/AWP/xAAdEAABAwUBAAAAAAAAAAAAAAAAEBExAQIhMkFh/9oACAEBAAY/ArR0evDxXNZzJ//EABoQAQADAQEBAAAAAAAAAAAAAAEAESExEKH/2gAIAQEAAT8h+yclW14aBu07Wxioc8Xuw0d2bFpfLiP/2gAMAwEAAgADAAAAEBAvff/EABgRAQADAQAAAAAAAAAAAAAAAAEAEDER/9oACAEDAQE/EFmlazhP/8QAGREAAgMBAAAAAAAAAAAAAAAAAAEQETFB/9oACAECAQE/EEjyOFn/xAAbEAEBAAMBAQEAAAAAAAAAAAABEQAhMUFRof/aAAgBAQABPxBQvJf3NZkLqjHpkwu0iB8+ZV0mTdmoc7kyELScwDGH1Obx9kxBCCc5vP/Z);
            
            opacity: 1; 
          }
          .card-display__img-background.gbi--1279486095-tVEy64hB9PnCpU7gkEuLeH:after {
            z-index: -101;
            
            background-image: url(data:image/jpeg;base64,/9j/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2P/wgARCAAWABQDASIAAhEBAxEB/8QAGQABAAMBAQAAAAAAAAAAAAAAAAQFBgED/8QAFwEAAwEAAAAAAAAAAAAAAAAAAQIDAP/aAAwDAQACEAMQAAABqNHRSQbp1hm5glvUPL//xAAdEAACAQQDAAAAAAAAAAAAAAAAAhEBAwQSEzEz/9oACAEBAAEFAk9LbbqKsGNvzki9VyYP/8QAFREBAQAAAAAAAAAAAAAAAAAAESD/2gAIAQMBAT8BI//EABURAQEAAAAAAAAAAAAAAAAAABEg/9oACAECAQE/AWP/xAAdEAABAwUBAAAAAAAAAAAAAAAAEBExAQIhMkFh/9oACAEBAAY/ArR0evDxXNZzJ//EABoQAQADAQEBAAAAAAAAAAAAAAEAESExEKH/2gAIAQEAAT8h+yclW14aBu07Wxioc8Xuw0d2bFpfLiP/2gAMAwEAAgADAAAAEBAvff/EABgRAQADAQAAAAAAAAAAAAAAAAEAEDER/9oACAEDAQE/EFmlazhP/8QAGREAAgMBAAAAAAAAAAAAAAAAAAEQETFB/9oACAECAQE/EEjyOFn/xAAbEAEBAAMBAQEAAAAAAAAAAAABEQAhMUFRof/aAAgBAQABPxBQvJf3NZkLqjHpkwu0iB8+ZV0mTdmoc7kyELScwDGH1Obx9kxBCCc5vP/Z);
            
          }
        