
          .teaser-background-image.teaser-background-image-right.gbi-1207205322-eVH3gcCYKxW3NMy4cw7T52:before,
          .teaser-background-image.teaser-background-image-right.gbi-1207205322-eVH3gcCYKxW3NMy4cw7T52:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            
            transition: opacity 0.5s ease 250ms;
            background-position: center;
background-repeat: no-repeat;
background-size: cover;

          }
          .teaser-background-image.teaser-background-image-right.gbi-1207205322-eVH3gcCYKxW3NMy4cw7T52:before {
            z-index: -100;
            background-image: url(data:image/jpeg;base64,/9j/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2P/wgARCAAQABQDASIAAhEBAxEB/8QAFwABAQEBAAAAAAAAAAAAAAAAAAMCBf/EABUBAQEAAAAAAAAAAAAAAAAAAAAC/9oADAMBAAIQAxAAAAHkWkXhYf/EABgQAAIDAAAAAAAAAAAAAAAAAAABAhES/9oACAEBAAEFAopjg6LNGj//xAAXEQEAAwAAAAAAAAAAAAAAAAAAAREh/9oACAEDAQE/AcVD/8QAFBEBAAAAAAAAAAAAAAAAAAAAEP/aAAgBAgEBPwE//8QAFhAAAwAAAAAAAAAAAAAAAAAAACAh/9oACAEBAAY/Alp//8QAGhABAAMAAwAAAAAAAAAAAAAAAQARIRAxQf/aAAgBAQABPyFU0ruIjvBXnUAmLZ//2gAMAwEAAgADAAAAELgv/8QAGBEAAwEBAAAAAAAAAAAAAAAAAAERIUH/2gAIAQMBAT8QcYkX6f/EABgRAAIDAAAAAAAAAAAAAAAAAAABEVFh/9oACAECAQE/EE7I0//EABoQAQACAwEAAAAAAAAAAAAAAAEAESExYVH/2gAIAQEAAT8QVExfs0QOMcApiFyYNEsU0GiFHsT/2Q==);
            
            opacity: 1; 
          }
          .teaser-background-image.teaser-background-image-right.gbi-1207205322-eVH3gcCYKxW3NMy4cw7T52:after {
            z-index: -101;
            
            background-image: url(data:image/jpeg;base64,/9j/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2P/wgARCAAQABQDASIAAhEBAxEB/8QAFwABAQEBAAAAAAAAAAAAAAAAAAMCBf/EABUBAQEAAAAAAAAAAAAAAAAAAAAC/9oADAMBAAIQAxAAAAHkWkXhYf/EABgQAAIDAAAAAAAAAAAAAAAAAAABAhES/9oACAEBAAEFAopjg6LNGj//xAAXEQEAAwAAAAAAAAAAAAAAAAAAAREh/9oACAEDAQE/AcVD/8QAFBEBAAAAAAAAAAAAAAAAAAAAEP/aAAgBAgEBPwE//8QAFhAAAwAAAAAAAAAAAAAAAAAAACAh/9oACAEBAAY/Alp//8QAGhABAAMAAwAAAAAAAAAAAAAAAQARIRAxQf/aAAgBAQABPyFU0ruIjvBXnUAmLZ//2gAMAwEAAgADAAAAELgv/8QAGBEAAwEBAAAAAAAAAAAAAAAAAAERIUH/2gAIAQMBAT8QcYkX6f/EABgRAAIDAAAAAAAAAAAAAAAAAAABEVFh/9oACAECAQE/EE7I0//EABoQAQACAwEAAAAAAAAAAAAAAAEAESExYVH/2gAIAQEAAT8QVExfs0QOMcApiFyYNEsU0GiFHsT/2Q==);
            
          }
        